body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ed6060;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/*main {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 81px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
*/
header {
    text-align: center;
   text-align: top;
}

button {
    padding: 8px 12px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover {
    background-color: #333;
}

.note-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    margin-bottom: 10px;

    border-radius: 6px;
    background-color: #fafafa;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.note-card button {
    background-color: crimson;
}

.note-card button:hover {
    background-color: darkred;
}

ul{
    justify-content: space-between;
    align-items: center;
      background-color: darkred;
      padding: 20px;
      text-align: left
}
