main {
    background: white;
    padding: 30px;
    width: 70%;
    height: auto;
    border-radius: 81px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ed6060;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

button {
    
   padding: 20px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 81px;

}

button:hover {
    background-color: #333;
}

input{
    width: 300px;
    height: 40px;
    border: 2px solid rgb(139, 139, 153);
    border-radius:81px ;
    padding: 5px;
    text-align: center;
}


ul {
    list-style: none;
    padding: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    border-radius: 20px;
}

li {
    height: 60px;
    background-color: #a99c9c;
    /* border: 21px #050404 ;*/
    height: 150px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
   
}

h1{
    font-family:  Cascadia code;

}

.card {
    position: relative;
    background-color: #736d6d;
    color: rgb(245, 238, 238);
    padding: 20px;
    margin: 15px;
    border-radius: 12px;
    list-style: none;
    text-align: center;
    overflow: hidden;
    transition: 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
    background-color: #000000;
   
}


/* Delete button hidden by default */
.deleteBtn {
    height: 30pt;
    width: 20pt;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: #080808;
    color : rgb(255, 255, 255);
    
    border: none;
    padding: 10px 20px;;
    border-radius: 8px;
    cursor: pointer;

    opacity: 0;
    transition: 0.3s ease;
}




