body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #c93c3c;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}


main {
    background: white;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 15px;
}

button {
    padding: 8px 12px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover {
    background-color: #333;
}

.note-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    margin-bottom: 10px;

    border-radius: 6px;
    background-color: #fafafa;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.note-card button {
    background-color: crimson;
}

.note-card button:hover {
    background-color: darkred;
}
